/* back ground */

.bg-principal {
    background-color: #ff2e63;
}

.bg-secundario {
    background-color: #eaeaea;
}

.bg-image {
    background-image: url("../img/background-formula.jpeg");
    background-color: #eaeaea;
}


/* Letras */

.text-navbar {
    color: #252a34;
}

.text-grey {
    color: #eaeaea;
}

.text-red {
    color: #ff2e63;
}

.text-sky {
    color: #08d9d6;
}


/* enlaces */

.enlaces {
    text-decoration: none;
}

.enlaces:hover {
    color: #eaeaea;
}


/* imagenes */

.img-navbar {
    width: 50px;
    height: 50px;
}


/* nav bar */

.nav-link {
    color: #252a34;
}

.nav-link:hover {
    color: #eaeaea;
}

.navbar-toggler {
    color: black;
}


/* seccion inicio */


/* botones */

.img-inicio {
    display: block;
    margin: auto;
    width: 260px;
}

.btn-inicio {
    width: 270px;
    height: 55px;
    /* left: 45px;
    top: 425px; */
    display: block;
    margin: auto;
    background: #08d9d6;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
}

.btn-inicio:hover {
    background: #252a34;
    color: #eaeaea;
}


/* footer */

.rights {
    color: #eaeaea;
}

footer ul {
    padding: 0;
    list-style: none;
}


/* Pagina nivel escolar */

.btn-escolar {
    font-size: 30px;
    display: block;
    margin: 30px auto;
    padding-top: 80px;
    width: 200px;
    height: 200px;
    background: #08D9D6;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
}

.btn-escolar:hover {
    background: #252a34;
    color: #eaeaea;
}


/* PAGINA NIVEL SUPERIOR */

.btn-superior {
    padding: 12px 0;
    width: 270px;
    height: 55px;
    /* left: 45px;
    top: 425px; */
    display: block;
    margin: 15px auto;
    background: #08d9d6;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18.5px;
}

.btn-superior:hover {
    background: #252a34;
    color: #eaeaea;
}

.silabus-accordion {
    background-color: #eaeaea;
}

.enlaces-superior {
    color: #ff2e63;
    text-decoration: none;
    font-size: 20px;
}

.enlaces-superior:hover {
    color: #08d9d6;
}
.enlaces-banco {
    color: #08d9d6;
    text-decoration: none;
    font-size: 20px;
}

.enlaces-banco:hover {
    color: #ff2e63;
}

.enlaces-cursos {
    text-align: start;
}


/* temas de curso */

.enlaces-temas {
    color: black;
    text-decoration: none;
}

.enlaces-temas:hover {
    color: #ff2e63;
}


/* para desaparecer un boton */

.btn-despliegue {
    display: none;
}
